:root {
  background-color:#4f586e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  width: 63px;
  height: 24px;
  margin-left: 16px;
  margin-top: 16px;
}

.radio-outer-circle {
  width: 20px;
  height: 20px;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #3B4256;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.1s linear;
}

.radio-inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3B4256;
  transition: all 0.1s linear;
}
.unselected {
  border: 2px solid #3B4256;
}
.unselected-circle {
  width: 0;
  height: 0;
}
.label {
  color: #3B4256;
  padding-right: 8px;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
}